{% load i18n %}
<tr>
	<td style="display:block;text-align:right;">
		{{ field.name }} {% if field.required %} <span style="color:red" >*</span> {% endif %}	
	</td>
	<td>
		<input class="w3-input"
			type="text" 
			name="{{ field.name }}" 
			id="{{ field.name }}" 
			{% if field.value != None %} value="{{ field.value }}" title="Input value here" {% endif %} 
			{% if not enabled %} disabled {% endif %}
			onchange="
				{
					postField('{{field.name}}')
				}"
		/>
	</td>
	<td style="padding: 10px; margin:10px;">
		{% if field.hint %}
			{% include field.hint %}
		{% endif %}
	</td>
</tr>

<script>
function {{field.internal_name}}_enable(enable) {
	//console.log('{{field.internal_name}}_enable', enable);
	document.getElementById('{{field.name}}').disabled = !enable;
}

function {{field.internal_name}}_update(data) {
	//console.log(data);
	/*
	var field_node = data.getElementsByTagName('Field')[0];
	var value_node = field_node.getElementsByTagName('value')[0];
	if(value_node.childNodes.length!=0){		
		var elem = document.getElementById('{{field.name}}');
		if(value_node.childNodes[0].nodeValue!='None'){
			elem.value = value_node.childNodes[0].nodeValue;
		} else {
			elem.value = '';
		}
	} else {
		elem.value = '';
	}
	*/
	var elem = document.getElementById('{{field.name}}');
	elem.value = data.data.value;
}

function {{field.internal_name}}_create() {
	return [
			{name: "{{field.name}}", 
			internal_name: "{{field.internal_name}}", 
			update: {{field.internal_name}}_update, 
			enable: {{field.internal_name}}_enable},
			];
}
</script>