{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "Drive configurator" %}</title>

<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/files/style.css" />
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/files/mobile.css" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous">
</script>
</head>

<body>

<script type='text/javascript'>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
		//console.log("beforeSend()");
		var csrftoken = getCookie('csrftoken');
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function setButtonState(button, state) {
	if(state){
		button.disabled = false;
		button.classList.remove('disable');
	} else {
		button.disabled = true;
		button.classList.add('disable');	
	}
}

function updateQuestion() {
		var f;
		if (this.readyState == 4 && this.status == 200) {						
			data = JSON.parse(this.responseText);
			setButtonState(document.getElementById("next_button"), data.next_enabled);
			setButtonState(document.getElementById("prev_button"), data.prev_enabled);
			
			if(data.error){
				document.getElementById("err_text").innerHTML = data.error;
				document.getElementById("err_panel").style.display="block";
			}else{
				document.getElementById("err_text").innerHTML = "";
				document.getElementById("err_panel").style.display="none";				
			}					
			
			for(f=0;f<data.fields.length;f++){
				var fo = findField(data.fields[f].data.name);
				if(!fo){
					fo = findField(data.fields[f].data.internal_name);
				}
				if(fo){
					fo.update(data.fields[f]);
				}				
			}
		} else {
			document.getElementById("err_panel").style.display="block";
			document.getElementById("err_text").innerHTML = "Server error";		
		}
		document.getElementById("progress").innerHTML="Update done";
}

function postField(field){
	var xhttp = new XMLHttpRequest();				
	xhttp.onreadystatechange = updateQuestion;
	
	document.getElementById("progress").innerHTML="Updating...";
	/*
	document.getElementById("err_panel").style.display="block";
	document.getElementById("err_text").innerHTML = "Processing";		
	*/
	xhttp.open('POST', 'update', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	var csrftoken = getCookie('csrftoken');
	xhttp.setRequestHeader("X-CSRFToken", csrftoken);
	var f = findField(field);	
	xhttp.send('Current_field='+field+'&'+field+'='+document.getElementById(f.name).value);
}

$( document ).ready(function() {
	//so we don't depend on templates to fill in the values
	var xhttp = new XMLHttpRequest();				
	xhttp.onreadystatechange = updateQuestion;

	/*
	document.getElementById("err_panel").style.display="block";
	document.getElementById("err_text").innerHTML = "Processing";		
	*/
	xhttp.open('GET', 'refresh', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');	
	xhttp.send();
});

</script>

<div id="question">
<div id="progress" {% if not show_debug %}style="display:none;"{% endif %}>
</div>

<!-- <form action="logout" id="logout_form" method="post" style="display: inline; float: left; padding: 10px;">
	{% csrf_token %}
	<button type="button" {% if not question.can_proceed %}disabled="disabled"{% endif %} onclick="document.getElementById('logout_form').submit()">Logout</button>
</form>
 -->
	<table border="0">
    <tr>
   		{% if not user.is_authenticated%} <th><a href="../../../login">Войти</a></th>{% endif %}
    <!--<th><a href="../../../create_user">Создать профайл</a></th>-->
	{% if  user.is_authenticated%}<th><a href="../../../logout">Выйти</a></th>{% endif %}
	{% if not user.is_authenticated%}<th><a href="../../../request_access">Отправить запрос на регистрацию</a></th>{% endif %}
	{% if user.is_authenticated%}<th> Пользователь: {{ user }} </th>{% endif %}
    </tr>
	</table> 
<h1>Конфигуратор высоковольтного привода</h1>


<div class="error-msg">

<div id="err_panel" class="w3-panel w3-orange w3-card-8" {% if error_message %}style="display:block;"{%else%}style="display:none;"{%endif%}>
	<span class="w3-closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
	<p id="err_text"><strong>{{ error_message }}</strong></p>
</div>

</div>

<div id="main_area">

<form name="question_form" id="question_form" action="update" method="post">
	{% csrf_token %}
	{% for field in question.fields %}									
		{% include field.view.template with field=field enabled=True only %}																									
	{% endfor %}			
		
	<input type="text" style="display:none" id="Current_field" name="Current_field" value=""/>
</form>				
		
<div class="btn-controls">		
	<form action="prev" id="prev_form" method="post" style="display: inline; float: left; padding: 10px;">
		{% csrf_token %}
		<button class="prev" type="button" id="prev_button" {% if not question.previous %}disabled="disabled"{% endif %} onclick="document.getElementById('prev_form').submit()">{% trans 'Prev' %}</button>
	</form>
	
	
	<form action="next" id="next_form" method="post" style="display: inline; float: left; padding: 10px;">
		{% csrf_token %}
		<button class="next" type="button" id="next_button" {% if not question.can_proceed %}disabled="disabled"{% endif %} onclick="document.getElementById('next_form').submit()">{% trans 'Next' %}</button>
	</form>										
</div>

<div class="clear"></div>

</div>
</div>
</div>

<script type="text/javascript">
var fields = [];
{% for field in question.fields %}
	fields = fields.concat({{field.internal_name}}_create());
{% endfor %}

function findField(name) {
	for(f in fields){
		if(fields[f].name == name || fields[f].internal_name == name){
			return fields[f];
		}
	}
	return null;
}
</script>

</body>
</html>