{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "Drive configurator" %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf8" /> -->
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/wizard.css" />
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.13/themes/base/jquery-ui.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="http://www.drives.ru/templates/default/css/view.css" />
<link rel="stylesheet" type="text/css" href="http://www.drives.ru/templates/default/css/style.css" />
<link rel="stylesheet" type="text/css" href="http://www.drives.ru/templates/default/css/reset.css" />
<link rel="stylesheet" type="text/css" href="http://www.drives.ru/templates/default/css/forms.css" />
 -->
</head>
<body>

<script type='text/javascript'>

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
		//console.log("beforeSend()");
		var csrftoken = getCookie('csrftoken');
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function updateQuestion() {
		var f;
		if (this.readyState == 4 && this.status == 200) {						
			data = JSON.parse(this.responseText);
			document.getElementById("next_button").disabled = !data.next_enabled;
			document.getElementById("prev_button").disabled = !data.prev_enabled;
			if(data.error){
				document.getElementById("err_panel").style.display="block";
			}else{
				document.getElementById("err_panel").style.display="none";
			}
			document.getElementById("err_text").innerHTML = data.error;		
			
			for(f=0;f<data.fields.length;f++){
				var fo = findField(data.fields[f].data.name);
				if(!fo){
					fo = findField(data.fields[f].data.internal_name);
				}
				if(fo){
					fo.update(data.fields[f]);
				}				
			}
		} else {
			document.getElementById("err_panel").style.display="block";
			document.getElementById("err_text").innerHTML = "Server error";		
		}
		document.getElementById("progress").innerHTML="Update done";
}

function postField(field){
	var xhttp = new XMLHttpRequest();				
	xhttp.onreadystatechange = updateQuestion;
	
	document.getElementById("progress").innerHTML="Updating...";
	xhttp.open('POST', 'update', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	var csrftoken = getCookie('csrftoken');
	xhttp.setRequestHeader("X-CSRFToken", csrftoken);
	var f = findField(field);	
	xhttp.send('Current_field='+field+'&'+field+'='+document.getElementById(f.name).value);
}

$( document ).ready(function() {
	//so we don't depend on templates to fill in the values
	var xhttp = new XMLHttpRequest();				
	xhttp.onreadystatechange = updateQuestion;

	xhttp.open('GET', 'refresh', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');	
	xhttp.send();
});

</script>

<div id="question">

{% include "mconfig/header.html" %}


<div id="progress" {% if not show_debug %}style="display:none;"{% endif %}>
</div>

{% if show_debug %}
<br/>
{{ user }}
<br/>

<form action="logout" id="logout_form" method="post" style="display: inline; float: left; padding: 10px;">
	{% csrf_token %}
	<button type="button" {% if not question.can_proceed %}disabled="disabled"{% endif %} onclick="document.getElementById('logout_form').submit()">Logout</button>
</form>
{% endif %}

<h1>{{ question.header }} </h1>


<div id="err_panel" class="w3-panel w3-orange w3-card-8" {% if error_message %}style="display:block;"{%else%}style="display:none;"{%endif%}>
	<span class="w3-closebtn" onclick="this.parentElement.style.display='none'">X</span>
	<p id="err_text"><strong>{{ error_message }}</strong></p>
</div>

<div class="w3-container w3-border-top w3-border-bottom w3-border-gray">
	<div id="main_area">
		<form name="question_form" id="question_form" action="update" method="post">
			{% csrf_token %}
			<table class="w3-table w3-bordered">
				{% for field in question.fields %}									
						{% include field.view.template with field=field enabled=True only %}																									
				{% endfor %}			
			</table>
			<input type="text" style="display:none" id="Current_field" name="Current_field" value=""/>
		</form>				
		
		<form action="prev" id="prev_form" method="post" style="display: inline; float: left; padding: 10px;">
			{% csrf_token %}
			<!-- <input type="submit" value="{% trans 'Prev' %}"/> -->
			<button class="w3-btn" type="button" id="prev_button" {% if not question.previous %}disabled="disabled"{% endif %} onclick="document.getElementById('prev_form').submit()">« {% trans 'Prev' %}</button>
		</form>
		
		
		<form action="next" id="next_form" method="post" style="display: inline; float: left; padding: 10px;">
			{% csrf_token %}
			<button class="w3-btn" type="button" id="next_button" {% if not question.can_proceed %}disabled="disabled"{% endif %} onclick="document.getElementById('next_form').submit()">{% trans 'Next' %} »</button>
		</form>										
	</div>
</div>

<script type="text/javascript">
var fields = [];
{% for field in question.fields %}
	fields = fields.concat({{field.internal_name}}_create());
{% endfor %}

function findField(name) {
	for(f in fields){
		if(fields[f].name == name || fields[f].internal_name == name){
			return fields[f];
		}
	}
	return null;
}
</script>

<div class="footer_bar">
	<a target="_new" href="http://www.danfoss.com/Terms/TermsOfUse.htm">Terms of Use</a>
	<a target="_new" href="http://www.danfoss.com/Terms/PrivacyPolicy.htm">Privacy Policy</a>
	<a target="_new" href="http://www.danfoss.com/Terms/GeneralInformation.htm">General Information</a>
	<a target="_new" href="http://www.danfoss.com/BusinessAreas/DrivesSolutions/Drive+Configurator+Disclaimer.htm">Disclaimer</a>
</div>
</div>
</body>
</html>