{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "Drive configurator" %}</title>

<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/files/style.css" />
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/files/mobile.css" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous">
</script>
<script src="https://unpkg.com/vue"></script>
</head>


<body>
<script src="/mconfig/static/mconfig/components.js"></script>

<script type='text/javascript'>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
		//console.log("beforeSend()");
		var csrftoken = getCookie('csrftoken');
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function setButtonState(button, state) {
	if(state){
		button.disabled = false;
		button.classList.remove('disable');
	} else {
		button.disabled = true;
		button.classList.add('disable');	
	}
}

function showError(text){
	err_panel.text = text;
}

function showInProgress(){
	err_panel.text = "";
}

function hideError(){	
	err_panel.text = "";
}

function updateQuestion() {
	var f, next_ena=false, prev_ena=false;
	if (this.readyState == 4 && this.status == 200) {						
		data = JSON.parse(this.responseText);
		next_ena = data.next_enabled;
		prev_ena = data.prev_enabled;
		
		for(f=0;f<data.fields.length;f++){
			var fo = findField(data.fields[f].data.name);
			if(!fo){
				fo = findField(data.fields[f].data.internal_name);

			}
			if(fo && (data.error || !this.soft_update)){
				fo.update(data.fields[f]);
				if(fo.comp && fo == this.field){
					fo.comp.error = data.error;
				}
			} else if(fo.comp){
				fo.comp.error = data.error;
			}
		}
	} else if (this.readyState < 4){
		showInProgress();
	} else if (this.readyState != 200) {
		showError("Server error");
	}
	
	setButtonState(document.getElementById("next_button"), next_ena);
	setButtonState(document.getElementById("prev_button"), prev_ena);	
}

function findField2(root, name){
	var f;
	for(f=0;f<root.$children.length;f++){
		if(root.$children[f].mName==name){
			return root.$children[f];
		}
	}
	return null;
}

function updateQuestion2() {
	var f, next_ena=false, prev_ena=false;
	if (this.readyState == 4 && this.status == 200) {
		data = JSON.parse(this.responseText);
		next_ena = data.next_enabled;
		prev_ena = data.prev_enabled;
				
		for(f=0;f<data.fields.length;f++){
			var fo = findField2(root, data.fields[f].data.name);
			if(fo){
				fo.update(data.fields[f].data);				
			}
		}
	} else if (this.readyState < 4){
		showInProgress();
	} else if (this.readyState != 200) {
		showError("Server error");
	}
	
	setButtonState(document.getElementById("next_button"), next_ena);
	setButtonState(document.getElementById("prev_button"), prev_ena);	
}

function postField(field, soft){	
	setButtonState(document.getElementById("next_button"), false);	
	var f = findField(field);
	
	var xhttp = new XMLHttpRequest();			
	xhttp.ontimeout = function(e) {
		err_panel.text = "Timeout";
	}
	
	xhttp.onreadystatechange = updateQuestion;
	xhttp.soft_update = soft;
	xhttp.field = f;
	
	xhttp.open('POST', 'update', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	var csrftoken = getCookie('csrftoken');
	xhttp.setRequestHeader("X-CSRFToken", csrftoken);
	var f = findField(field);	
	xhttp.send('Current_field='+field+'&'+field+'='+document.getElementById(f.name).value+'&+ts='+new Date().getTime());
}

function postFieldValue(comp, soft){	
	setButtonState(document.getElementById("next_button"), false);		
	
	var xhttp = new XMLHttpRequest();			
	xhttp.ontimeout = function(e) {
		err_panel.text = "Timeout";
	}
	
	xhttp.onreadystatechange = updateQuestion2;
	xhttp.soft_update = soft;	
	xhttp.field = comp;
	
	xhttp.open('POST', 'update', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	var csrftoken = getCookie('csrftoken');
	xhttp.setRequestHeader("X-CSRFToken", csrftoken);	
	xhttp.send('Current_field='+comp.mName+'&'+comp.mName+'='+comp.mValue+'&+ts='+new Date().getTime());
}

$( document ).ready(function() {
	//so we don't depend on templates to fill in the values
	var xhttp = new XMLHttpRequest();				
	xhttp.onreadystatechange = updateQuestion;

	xhttp.open('GET', 'refresh', true);
	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');	
	xhttp.send();
});

</script>

<div id="question">
<div id="progress" {% if not show_debug %}style="display:none;"{% endif %}>
</div>

	<table border="0">
    <tr>
  		{% if not user.is_authenticated%} <th><a href="../../../login">Войти</a></th>{% endif %}    
		{% if  user.is_authenticated%}<th><a href="../../../password_change">Изменить пароль</a></th>{% endif %}
		{% if not user.is_authenticated%}<th><a href="../../../request_access">Отправить запрос на регистрацию</a></th>{% endif %}
		{% if  user.is_authenticated%}<th><a href="../../../logout">Выйти</a></th>{% endif %}
		{% if user.is_authenticated%}<th> Пользователь: {{ user }} </th>{% endif %}
    </tr>
	</table> 
<h1>Конфигуратор высоковольтного привода</h1>

<div id=vue-root>
	<div id="error_message">
		<span v-if="visible" class="w3-closebtn" onclick="this.parentElement.style.display='none'">
			&times;
		</span>
		<p v-if="visible">
			[< text >]
		</p>
	</div>

	<div id="main_area">
		<form name="question_form" id="question_form" action="update" method="post">
			{% csrf_token %}
			{% for field in question.fields %}									
				{% include field.view.template with field=field enabled=True only %}
			{% endfor %}	
			<input type="text" style="display:none" id="Current_field" name="Current_field" value=""/>
		</form>

		<div class="btn-controls">		
			<form action="prev" id="prev_form" method="post" style="display: inline; float: left; padding: 10px;">
				{% csrf_token %}
				<button class="prev" type="button" id="prev_button" {% if not question.previous %}disabled="disabled"{% endif %} onclick="document.getElementById('prev_form').submit()">{% trans 'Prev' %}</button>
			</form>
			
			
			<form action="next" id="next_form" method="post" style="display: inline; float: left; padding: 10px;">
				{% csrf_token %}		
				<button class="next" type="button" id="next_button" {% if not question.can_proceed %}disabled="disabled"{% endif %} onclick="document.getElementById('next_form').submit()">{% trans 'Next' %}</button>
			</form>										
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</div>


<script>
	var root = new Vue({el: '#vue-root'});	
	var err_panel = new Vue({
		delimiters: ["[<", ">]"],
		el: '#error_message',
		data: {			
			text: "",			
		},
		computed: {
			visible: function () {			  
			  return this.text != "";
			}
		}
	})
</script>

<script type="text/javascript">
var fields = [];
{% comment %}
{% for field in question.fields %}
	fields = fields.concat({{field.internal_name}}_create());
{% endfor %}
{% endcomment %}
function findField(name) {
	for(f in fields){
		if(fields[f].name == name || fields[f].internal_name == name){
			return fields[f];
		}
	}
	return null;
}
</script>
</body>
</html>