{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "Drive configurator user register request" %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<!--<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/wizard.css" />
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/style.css" />
-->
</head>
<body>

<table border="0"> 
    <tr>
	<th><a href="../start">Вернуться на стартовую страницу   </a></th>
    <th><a href="../login">Войти</a></th>
    <!--<th><a href="../../../create_user">Создать профайл</a></th>-->
	<th><a href="../logout">Выйти</a></th>
	<th> Пользователь: {{ user }} </th>
    </tr>
</table> 
<p> Заполните форму и нажмите отправить: </p>

<table class="mainContainer" style="border: 1px solid; padding: 10px;">
	<tr>	
		<td>Имя:</td>
		<td><input type="text" name "first_name"/></td>
	</tr>	

	<tr>	
		<td>Фамилия:</td>
		<td><input type="text" name "first_name"/></td>
	</tr>
	
	<tr>	
		<td>Электронная почта:</td>
		<td><input type="text" name "first_name"/></td>
	</tr>
	
	<tr>	
		<td>Организация:</td>
		<td><input type="text" name "first_name"/></td>
	</tr>

	<tr>	
		<!--<td><input type="submit" name="Submit"/></td>-->
		<td><div class="calc-btn"><button id="send_request" type="button" onclick="self.location='send_request/'">Отправить на Email</button></div>	</td>
	</tr>
</table>
</body>