{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "Drive configurator user register request" %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/wizard.css" />
<link rel="stylesheet" type="text/css" href="/mconfig/static/mconfig/style.css" />
</head>
<body>
<table class="mainContainer" style="border: 1px solid; padding: 10px;">
	<tr>
		<td class="main_area">					
			<div id="main_area">
				<form name="register_form" id="register_form" action="update" method="post" style="border: 1px solid; padding: 10px;">
					{% csrf_token %}
					<table>													
						<tr>
							<td>
								<input id="name" type="text" name="Name"/>
								<input id="organization" type="text" name="organization"/>
								<input id="email" type="text" name="Email address"/>
								<input id="password" type="password" name="Password"/>
								<input type="submit" name="Submit"/>
							</td>
						</tr>
					</table>					
				</form>												
  			</div>
		</td>
	</tr>
</table>
</body>