{% load i18n %}
<table border="0">
  
   <tr>
    <th><a href="../start">Вернуться на стартовую страницу   </a></th>


<table>

<h1>{% trans 'Request configurator access' %}</h1>

{% trans 'Please fill the form and click "Submit"' %}
<form name="request_access_form" id="request_access_form" action="do" method="post" style="border: 1px solid; padding: 10px;">
	{% csrf_token %}
	<table>
		<tr>
			<td>
				E-mail
			</td>
			<td>
				<input
					type="text" 
					name="email"
					value={{profile.email}}
				>
				</input>
			</td>
		</tr>
<!-- 		<tr>
			<td>
				Password
			</td>
			<td>
				<input
					type="text" 
					name="password"		
				>
				</input>
			</td>
		</tr>
 -->		<tr>
			<td>
				First name
			</td>
			<td>
				<input
					type="text" 
					name="first_name"
					value={{profile.first_name}}
				>
				</input>
			</td>
		</tr>
		<tr>
			<td>
				Last name
			</td>
			<td>
				<input
					type="text" 
					name="last_name"
					value={{profile.last_name}}
				>
				</input>
			</td>
		</tr>
		<tr>
			<td>
				Organization
			</td>
			<td>
				<input
					type="text" 
					name="organization"
					value={{profile.organization}}
				>
				</input>
			</td>
		</tr>

		<tr>
			<td>
				<button type="button" onclick="document.getElementById('request_access_form').submit()">{% trans 'Submit' %}</button>
			</td>
		</tr>
	</table>
</form>