<div class="">
	<strong>{{ field.name }}</strong><br>
	<input 	name="{{ field.name }}" 
			id="{{ field.name }}"
			class="sel-apl"
			datalist="{{ field.name }}_list"
			autocomplete="off"
			{% if not field.enabled %} disabled="disabled" {% endif %} 
			value="{{ field.selected.text }}"
			{% if not enabled %} disabled {% endif %}
			style="width:100%; max-width: 308px; margin-top:7px;}"			
			onchange="
				postField('{{field.internal_name}}')
			"/>

	{% if field.hint %}
		<div class="help">
			<i class="icon-help">?</i>
			<div class="help-popup">
				<i class="help-popup-ctrl" ></i>
				{% include field.hint %}
			</div>
		</div>
	{% endif %}
			
	<datalist id="{{ field.name }}_list" style="display:none">
	{% for choice in field.choices.values %}
		{% if choice.enabled %}
			<option value="{{ choice.text }}">{{ choice.text }}</option>
		{% endif %}
	{% endfor %}
</datalist>


</div>
 
<script>

function {{field.internal_name}}_enable(enable) {	
	document.getElementById('{{field.name}}').disabled = !enable;
}

function {{field.internal_name}}_update(data) {
	var edit_elem = document.getElementById('{{field.name}}');
	var list_elem = document.getElementById('{{field.name}}_list');

	var elem = $(edit_elem);		
	var list = $(list_elem);

	var items = [];
	for(var i=0;i<data.data.choices.length;i++){
		if(data.data.choices[i].enabled){
			items = items.concat([data.data.choices[i].value]);
		}
	}			
	var src = items;
			
	elem.autocomplete({
		delay: 0,
		source: src,
		change: function (event, ui) { 				
			var fname = this.id;
			postField(fname);
		},
		delay: 0,
		minLength: 0,
	});
		
	edit_elem.value = data.data.value;

}

function {{field.internal_name}}_create() {
	var edit_elem = document.getElementById('{{field.name}}');
	var list_elem = document.getElementById('{{field.name}}_list');
	
	var options = '';
		
	var elem = $(edit_elem);		
	var list = $(list_elem);

	var items = []
	
	for(var i=0;i<list_elem.options.length;i++){
		items = items.concat([list_elem.options[i].value]);
	}			

	var src = items;
			
	elem.autocomplete({
		source: src,
		change: function (event, ui) { 				
			var fname = this.id;
			postField(fname);
		},
		create: function( event, ui ) {	           
        },		
		delay: 10,
		minLength: 0,
	});
	//hack: this prevents displaying of hint after page loads on IE
	edit_elem.focus();
	edit_elem.blur();
	
	return [
			{name: "{{field.name}}", 
			internal_name: "{{field.internal_name}}", 
			update: {{field.internal_name}}_update, 
			enable: {{field.internal_name}}_enable},
			];
}
</script>