<script type="text/javascript">
function updatePackage(data)
{
	document.getElementById("package_name").innerHTML = data.name;
	document.getElementById("short_descr").innerHTML = data.short_descr;
	document.getElementById("order_code").innerHTML = data.order_code;
	
	for(var propt in data.options){
		document.getElementById(propt).innerHTML = data.options[propt]
	}
}

function updatePrice(data)
{
	price_div = document.getElementById("price");
	det_div = document.getElementById("price_details");
	sp_div = document.getElementById("sale_price");
	if(!data){
		price_div.style.display="none";
		return;
	}
	
	price_div.style.display="block";
	details = data.details;
	if(details){
		det_div.style.display="block";
		det_div.innerHTML = "<br>" + details.supplier_price + "<br>" + details.sale_price + "<br>" + details.delivery_cost;
	} else {
	
	}
	sp_div.innerHTML = data.total;
}
</script>

<h3>Введенные данные</h3>

{% for option in package.display_options.items %}
	<div class="val-fileld">
		<label>{{ option.0 }}</label>
		<span id="{{ option.0 }}">{{ option.1 }}</span>
	</div>	
{% endfor %}

<div id="price">
	<div id="price_details">	
		<div id="supplier_price">
		</div>
		<div id="delivery_cost">
		</div>
	</div>
	Price:
	<div id="sale_price" style="display:inline;">
		{{ package.price.sale_price }}
	</div>	
	<a href="download/">Download offer template</a>
</div>

{% if not unpriced %}

{% else %}
For price information please contact a sales manager
{% endif %}

