<script type="text/javascript">
function updatePackage(data)
{
	document.getElementById("package_name").innerHTML = data.name;
	document.getElementById("short_descr").innerHTML = data.short_descr;
	document.getElementById("order_code").innerHTML = data.order_code;
	
	if(data.details) {
		document.getElementById("main_cabinet").innerHTML = data.details.main_cabinet;
		document.getElementById("addons").innerHTML = data.details.addons;
		document.getElementById("width").innerHTML = data.details.width;
		document.getElementById("height").innerHTML = data.details.height;
		document.getElementById("length").innerHTML = data.details.length;
		document.getElementById("weight").innerHTML = data.details.weight;
		document.getElementById("therm_loss").innerHTML = data.details.therm_loss;
		//document.getElementById("options").innerHTML=data.details.options;
		if (data.details.options) {
		  for(var propt in data.details.options){
			document.getElementById(propt).innerHTML = data.details.options[propt]

		  } options.style.display="block";} else { options.style.display="none";
			
		  }
	 } else {document.getElementById("tab").style.display="none";
		
	 }
}

function updatePrice(data)
{
	price_div = document.getElementById("price");
	det_div = document.getElementById("price_details");
	sp_div = document.getElementById("sale_price");
	if(!data){
		price_div.style.display="none";

		return;
	}
	
	price_div.style.display="block";
	details = data.details;
	if(details){
		det_div.style.display="block";
		det_div.innerHTML = "<br>" +"<b>Выходная цена:</b> "+ details.supplier_price + "<br>" + "<b>Цена без учета доставки:</b>"+ details.sale_price + "<br>" + "<b>Цена доставки:</b>  "+ details.delivery_cost;
	} else { }
	sp_div.innerHTML = data.total;
}
</script>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="val-fileld">
	<label>Корпус</label>
	<span id="main_cabinet"> {{ package.main_cabinet.name }}</span>
	<span id="addons">
<!-- 		<table id="addons">
			{% for a in package.addons %}
				<tr>
					<td>
						{{ a.name }}
					</td>
				</tr>
			{% endfor %}	 -->
		</table>
	</span>
</div>

<div class="val-fileld">
	<label>Габариты, мм</label><span  id="width">x</span>x<span id="height"></span>x<span  id="length"></span>
</div>

<div class="val-fileld">
	<label>Масса, кг</label> <span  id="weight"> </span>
</div>

<div class="val-fileld">
	<label>Тепловые потери, кВт</label> <span  id="therm_loss"> </span>
</div>



<div id="options" >
<h3>Введенные данные</h3>
{% for option in package.display_options.items %}
	<div class="val-fileld">
		<label>{{ option.0 }}</label>
		<span id="{{ option.0 }}">{{ option.1 }}</span>
	</div>	
{% endfor %}
</div>


{% if not unpriced %}

{% else %}
For price information please contact a sales manager
{% endif %}

