body {
	color: red;
}

.main_area {
    padding: 10px;
}

.left_bar {
    border: 1px solid #d8d9db;
    padding: 12px;
    text-align: center;
    vertical-align: top;
    width: 146px;
}

.question {
	color: red;
    border: 1px solid #d8d9db;
    padding: 4px;
    text-align: center;
    vertical-align: top;
	margin: 4px;
}