По умолчанию, преобразователь частоты тормозит двигатель выбегом.</br></br>

Для реализации динамического торможения в корпус каждой силовой ячейки встраивается тормозной модуль, который состоит из транзистора IGBT и резистора. Помните, максимальное время торможения не должно превышать 2% общего времени цикла. Для корректного подбора тормозного модуля, пожалуйста, обратитесь на <a href="mailto:hpd@danfoss.com"> hpd@danfoss.com</a></br></br>

Рекуперативное торможение реализуется при помощи активного выпрямителя, который комплектуется цепью предварительного заряда, а для приводов от 1800кВт ещё и пусковым шкафом (отдельная секция преобразователя частоты)</br></br>
