IP30	Стандартное исполнение корпуса преобразователя частоты VEDADRIVE.<br/><br/>
IP31	Стандартное исполнение корпуса преобразователя частоты VEDADRIVE. <br/>Защита от вертикально падающих капель достигается за счет установки фильтров за решетками вытяжных вентиляторов.<br/><br/>
IP41	Нестандартное исполнение корпуса преобразователя частоты VEDADRIVE.<br/> Защита от инородных тел диаметром более 1 мм достигается за счет применения более плотных фильтров воздухозаборников.<br/><br/>

Для уточнения спецификации, габаритных размеров и стоимости решения, пожалуйста, обратитесь на <a href="mailto:hpd@danfoss.com"> hpd@danfoss.com</a>

